h1 {
  font-size: 80px;
  color: #F2BBE1;
  text-allign : center;
}
h2 {
  font-size: 40px;
  color: #F2BBE1;
  text-allign : center;
}
img {
  text-allign : center;
}
p {
  font-size: 50 px;
  color:black;
  text-allign : center;
}

body {
  background: url= "https://m1.behance.net/rendition/modules/97023061/disp/085fd930c2598fe7bc1710fad59c4dd7.JPG";
}

iframe {
  width: 90%;
  height:300 px;
}
